# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Owner\Desktop\cinder_0.9.2_vc2015\cinder_0.9.2_vc2015\my-projects\final-project-svalenciasan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
